<app-header></app-header>
<div class="container">
  <div>
    <!-- <app-recipe-page></app-recipe-page> -->
    <router-outlet></router-outlet>
  </div>
</div>

  <!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer> -->

<!-- <app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipe></app-recipe>
    </div>
</div> -->



<!--
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon >menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/accounts'"> Accounts </a>
      <a mat-button [routerLink]="'/create-account'"> Create Account </a>
      <a mat-button [routerLink]="'/contacts'"> Contacts </a>
      <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-button [routerLink]="'/activities'"> Activities </a>
      <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>

    </div>
  </mat-toolbar-row>
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>

</mat-toolbar> -->










<!-- <div class="example-container">
  <app-header></app-header>
  <mat-sidenav-container class="editor-container">
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div> -->
