<!-- <router-outlet></router-outlet> -->

<div style="display: flex;">
  <mat-card style="flex: 1 1 auto; margin: 5px;">Recipe</mat-card>
  <mat-card style="flex: 1 1 auto; margin: 5px;" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Comments</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <app-recipe-list></app-recipe-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
